@import 'https://fonts.googleapis.com/css?family=Quicksand:300';
* {
 font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

body {
  background-color: #fff;
  font-weight: 600;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  width: 90%;
  margin : 0 auto;
}

.calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
 
}

.top {
  /* max-width:260px; */
  max-width:1000px;
  width: 100%;
  background: #333a4d;
  color: #eee;
  border-radius: 12px 12px 0 0;
  margin-top:20px;
-webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 40px 20px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  font-size: 40px;
   
}

.result {
  box-sizing: border-box;
  width: 75%;
  height: 50px;
  font-size: 16px;
  margin: 0;
  padding: 7px 10px 0px 10px;
  text-align: left;
  opacity: 0.6;
  overflow: hidden;
  float:left;
}

.mode {
  box-sizing: border-box;
  width: 18%;
  height: 30px;
  font-size: 0.4em;
  color:#fff;
  margin: 0;
  padding: 10px 9px 0px 8px;
  text-align: right;
  overflow: hidden;
  float:right;
  font-weight: 300;
  opacity: 1;
  cursor: pointer;
  margin-right:15px;
}

.screen {
  width: 100%;
  height: 70px;
  border: 0;
  font-size: 40px;
  padding: 0px 20px 5px 5px;
  text-align: right;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: hidden;
  font-weight: 300;
}

.hints {
  opacity: 0.3;
}

.keyboard {
  /* max-width: 260px; */
  max-width:1000px;
  width: 100%;
   margin-bottom: 20px;
   -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    border-radius: 0 0 12px 12px ;
	overflow: hidden;
   
}

.crow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  min-height: 40px;
  margin: 0;
}

.crow:last-child {
  border-radius: 0px 0px 10px 10px;
}

.cb {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background-color: #ccc;
  color: #222;
  cursor: pointer;
  border-left: 1px solid #E2E2E2;
   border-top: 1px solid #E2E2E2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-size: 1.5em;
  height:50px;

}

.cb:hover {
  background-color: #D5D5D5;
  z-index: 1000;
}

.cb:active {
  font-size: 22px;
}

.screentext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.animated {
  position: relative;
  top: 0;
  animation: movetext1 .2s 1;
}

@keyframes movetext1 {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

sup {
  vertical-align: text-top;
  font-size: 0.5em;
}

.inv {
  display: none;
}

.lighter {
  background-color: #eee;
  font-size: 1.2em;
}

.operands {
   background-color: #fea170;
    font-size: 2em;
}

.operands:hover {
  background-color: #EB9568;
}
.operands:active {
 font-size: 2.2em;
}

.enter {
  background-color: #F78D6C;
  color: #eee;
  font-size: 2.2em;
}
.enter:hover {
	background-color: e57f60;
	color: #eee;
}
.enter:active {
 font-size: 2.7em;
}



.blue{
background-color: #1A73E8;
  color: #eee;
}
.blue:hover{
background-color: #4088E8;
  color: #eee;
}